.component {
  box-sizing: border-box;
  padding: 100px 0;
  background: #dfe4ea;
  min-height: 100vh;
}

.listNavigation {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  list-style: none;
  font-size: 15px;
}

.dot {
  margin: 0 10px;
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #000;
  transition: .3s;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.dotActive {
  margin: 0 10px;
  display: inline-block;
  width: 40px;
  height: 10px;
  border: 1px solid #000;
  background-color: #000;
  animation: nowActive .3s;
}

@keyframes nowActive {
  0% {
    background: rgba(0, 0, 0, 0.3);
  }
  33% {
    background: #fff;
  }
  66% {
    background: rgba(0, 0, 0, 0.3);
  }
  100% {
    background: #000;
  }
}